
/* General styles */
.out {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #cdcdcd;
}

.slide-container {
    position: relative;
    top: 20px;
    width: 800px;
    height: 350px;
    border: 3px solid #000;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1);
    background-color: #00000049;
    overflow: hidden; /* Hide images that overflow the container */
}

.slides {
    display: flex; /* Arrange slides in a row */
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.buttons span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

span.next {
    right: 20px;
}

span.past {
    left: 20px;
}

span.past:hover, span.next:hover {
    background-color: #eee;
    opacity: 0.8;
    color: #222;
}

.dotCounter {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #222;
}

.out figcaption{
    position: relative;
    top: 25px;
    font-size: 10px;
    font-weight: 900;
}

.car-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #339989;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0,1);
    margin-bottom: 20px;
}

.car-book-form form{
    display: flex;
    flex-direction: column;
}
.car-book-form form input, .car-book-form form button{
    height: 40px;
    width: 300px;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: 800;
    border-radius: 5px;
    outline: none;
    border: none;
}

#car-button:hover{
    background-color: #67ddcba9;
    color: #000;
    border: 2px solid #000;
}