.total{
    background-color: rgba(204, 203, 203, 0.995);
}

.item{
    background-color: #FFF;
}

.total{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

.total-left h3, .total-mid h3{
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 5px;
}
.total-left span, .total-mid p{
    font-weight: 800;
}

.total-mid p{
    text-align: center;
}

.total-left span{
    margin-left: 50px;
}

.total-right{
    width: 70px;
    height: 30px;
    background-color: #339989;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: transform 0.3s ease;
}

.total-right:hover, .cart-list .item .deleteButton:hover{
    transform: scale(1.1);
}

.cart-list{
    height: 200px;
}
.cart-list .item{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
}
.cart-list .item img{
    height: 160px;
}

.cart-list .decs {
    width: 400px;
}

.cart-list .item .decs h4{
    font-size: 20px;
    font-weight: 800;
}

.cart-list .item .decs p{
    font-weight: 700;
}

.cart-list .item .deleteButton{
    color: black;
    height: 40px;
    padding: 10px;
    background-color: #339989;
    border-radius: 5px;
    transition: transform 0.3s ease;
}